<div class="container d-flex justify-content-center">
  <form class="border p-3 w-75  rounded-1" action="/admins/auth/register" method="post">
     <h2 class="fw-bolder text-center mb-2">Registratsiya</h2>
    {{#if error}}
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div> {{error}} </div>
      </div>
    {{/if}}
    <div class="row mb-3">
      <label for="firstName" class="col-sm-2 col-form-label">Firstname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstName" id="firstName">
      </div>
    </div>
    <div class="row mb-3">
      <label for="lastName" class="col-sm-2 col-form-label">Lastname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastName" id="lastName">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" id="inputPassword3">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
    <a class=" text-decoration-none mx-4 " href="/admins/auth/login">Akkaunt bormi? Bosing</a>
  </form>
</div>